.header {
  padding: 24px 0 24px;

  font-family: 'Inter', sans-serif;
  color: var(--black);

  background-color: var(--bg-primary);
}

.header__title {
  margin-top: 38px;
  margin-bottom: 61px;

  font-weight: 500;
  font-size: 50px;
  line-height: 64px;
}

.header_transparent {
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 0 16px;
  }

  .header__title {
    margin-top: 48px;
    margin-bottom: 53px;

    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }
}
