.header {
  padding: 96px 0 77px;

  font-family: 'Inter', sans-serif;
  color: var(--black);

  background-color: var(--bg-primary);
}

.header__title {
  margin: 0;

  font-weight: 500;
  font-size: 50px;
  line-height: 64px;
}

@media screen and (max-width: 767px) {
  .header_transparent {
    background-color: transparent;
  }

  .header__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }
}
