.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  padding: 30px;
  padding-bottom: 10px;

  background-color: var(--bg-primary);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
}

.card__title {
  margin: 0;
  padding: 32px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: var(--black);
}

.card__content {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
}

.card__content_column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  gap: 42px 16px;
}

@media screen and (max-width: 767px) {
  .card__title {
    padding: 10px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .card__content {
    border-bottom: 1px solid var(--grey-2);
  }
}
