.checkbox {
  position: relative;

  display: inline-block;
}

.checkbox__input {
  position: absolute;

  clip: rect(0, 0, 0, 0);

  outline: none;
}

.checkbox__state {
  display: flex;
  align-items: center;
  gap: 12px;

  cursor: pointer;
}

.checkbox__control {
  position: relative;

  width: 28px;
  height: 28px;
  display: flex;

  background-color: var(--bg-primary);
  border: 1px solid var(--grey-2);
  border-radius: 4px;
}

.checkbox__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  width: 24px;
  height: 24px;

  color: var(--bg-primary);
}

.checkbox__title {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-input);
}

.checkbox__input:disabled ~ .checkbox__state {
  cursor: not-allowed;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
  background-color: var(--blue-2);
  border-color: var(--blue-2);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
  display: block;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
  background-color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__title {
  color: var(--grey-2);
}

.checkbox__input:focus ~ .checkbox__state .checkbox__title {
  text-decoration: underline;
}
