.checkbox {
  position: relative;

  display: inline-block;

  &__input {
    position: absolute;

    clip: rect(0, 0, 0, 0);

    outline: none;
  }

  &__state {
    display: flex;
    align-items: center;
    gap: 12px;

    cursor: pointer;
  }

  &__control {
    position: relative;

    width: 28px;
    height: 28px;
    display: flex;

    background-color: var(--bg-primary);
    border: 1px solid var(--grey-2);
    border-radius: 4px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    width: 24px;
    height: 24px;

    color: var(--bg-primary);
  }

  &__title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-input);
  }

  &__input:disabled ~ &__state {
    cursor: not-allowed;
  }

  &__input:checked ~ &__state &__control {
    background-color: var(--blue-2);
    border-color: var(--blue-2);
  }

  &__input:checked ~ &__state &__control::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: -28px;
    left: -28px;
    border: 42px solid var(--border-primary);
    visibility: hidden;
    border-radius: 20%;
    animation: expand 0.3s ease-in-out;
  }

  @keyframes expand {
    0% {
      transform: scale(0.3);
      opacity: 0.3;
      visibility: visible;
    }

    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  &__input:checked ~ &__state &__icon {
    display: block;
  }

  &__input:disabled ~ &__state &__control {
    background-color: var(--grey-2);
  }

  &__input:disabled ~ &__state &__title {
    color: var(--grey-2);
  }

  &__input:focus ~ &__state &__title {
    text-decoration: underline;
  }
}
