@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'Inter';
  src: url('inter-semibold-webfont.woff2') format('woff2'),
    url('inter-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('inter-medium-webfont.woff2') format('woff2'),
    url('inter-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('inter-regular-webfont.woff2') format('woff2'),
    url('inter-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('sourcesanspro-regular-webfont.woff2') format('woff2'),
    url('sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
