.container {
  width: 354px;
  margin: 5px auto;
}

.histogram {
  padding: 16px 24px 24px;

  font-family: 'Inter', sans-serif;
  color: var(--black);

  background-color: var(--bg-primary);
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.histogram__header {
  display: flex;
  /* height: 27px; */
  justify-content: space-between;
  margin-bottom: 3px;
}

.histogram__title {
  align-self: flex-start;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  opacity: 0.8;
}

.histogram__link {
  align-self: flex-end;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--blue-2);
  text-decoration: none;
}

.histogram__total-count {
  margin: 0;
  margin-bottom: 39px;

  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.histogram__bars {
  display: flex;
  align-items: flex-end;
  gap: 1px;
  height: 50px;
  padding: 0 2px;
}

.histogram__bar {
  flex: auto;

  background-color: var(--blue-2);
}
