.page {
  display: flex;
  flex-direction: column;
}

.page_inner {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 36px;

  background-color: var(--bg-preview);
}

.page__preview {
  flex-grow: 1;
}

.page__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .page_inner {
    grid-template-rows: auto 1fr;
    row-gap: 0;
  }

  .page__logo {
    text-align: center;
  }
}
