.toggler {
  display: inline-flex;

  --animation-duration: 0.3s;
}

.toggler__input {
  position: absolute;
  outline: none;
  clip: rect(0, 0, 0, 0);
}

.toggler__state {
  display: inline-flex;
  align-items: center;
  gap: 12px;

  cursor: pointer;
}

.toggler__control {
  position: relative;

  box-sizing: border-box;
  width: 52px;
  height: 28px;
  padding: 1px;

  background-color: var(--bg-primary);
  border: 1px solid var(--grey-2);
  border-radius: 16px;

  transition: background-color var(--animation-duration) ease-in-out,
    border-color var(--animation-duration) ease-in-out;
}

.toggler__switcher {
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);

  width: 24px;
  height: 24px;

  background-color: var(--grey-2);
  border-radius: 16px;

  transition: transform var(--animation-duration) ease-in-out,
    background-color var(--animation-duration) ease-in-out;
}

.toggler__input:checked ~ .toggler__state .toggler__control {
  background-color: var(--blue-2);
  border-color: var(--blue-2);
}

.toggler__input:checked ~ .toggler__state .toggler__switcher {
  transform: translate(100%, -50%);
  background-color: var(--bg-primary);
}

.toggler__title {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}

.toggler__input:disabled ~ .toggler__state {
  cursor: not-allowed;
}

.toggler__input:disabled ~ .toggler__state .toggler__control {
  background-color: var(--grey-2);
}

.toggler__input:disabled ~ .toggler__state .toggler__switcher {
  background-color: var(--grey-3);
  opacity: 0.25;
}

.toggler__input:focus ~ .toggler__state .toggler__title {
  text-decoration: underline;
}
