@import './normalize.css';

@import '../fonts/fonts.css';

@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/preview/preview.css';
@import '../../components/footer/footer.css';
@import '../../components/container/container.css';
@import '../../components/card/card.css';
@import '../../components/component-main/component-main.css';
@import '../../components/menu/menu.css';
@import '../../components/component-description/component-description.css';
@import '../../components/main/main.css';
@import '../../components/histogram/histogram.css';
@import '../../components/tooltip/tooltip.css';
@import '../../components/calendar/calendar.css';
@import '../../components/modal/modal.css';
@import '../../components/avatar/avatar.css';
@import '../../components/tabs/tabs.css';
@import '../../components/checkbox/checkbox.css';
@import '../../components/radio/radio.css';
@import '../../components/button/button.css';
@import '../../components/toggler/toggler.css';
@import '../../components/input/input.css';
@import '../../components/logo/logo.css';
@import '../../components/theme-changer/theme-changer.css';

:root {
  --white: #ffffff;
  --white-2: #ffffff75;
  --black: #212429;
  --black-2: #000000;
  --pink: #f784ad;
  --purple: #7048e8;
  --purple-2: #5028c6;
  --blue: #374fc7;
  --blue-2: #4263eb;
  --blue-3: #334d6e;
  --blue-4: #a0b1f5;
  --blue-5: #2342c0;
  --red: #f03d3e;
  --red-2: #d84910;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;
  --grey-5: #e2e6e8;
  --grey-6: #f3f5f5;
  --grey-7: #e3e7ea;
  --grey-8: #f9fafc;
  --grey-9: #90a0b7;
  --grey-10: #334d6e;

  --error: var(--red);
  --success: var(--blue);

  --btn-primary: var(--blue);
  --btn-primary-hover: var(--blue-5);
  --btn-secondary: var(--purple);
  --btn-secondary-hover: var(--purple-2);
  --button-alternate: var(--grey-3);
  --button-alternate-hover: var(--black);
  --btn-icon-hover: var(--grey-2);
  --btn-text: var(--white);
  --btn-text-alternate: var(--grey-4);

  --bg-primary: var(--white);
  --bg-preview: var(--grey-8);
  --bg-modal: 196, 196, 196;

  --text-primary: var(--black);
  --text-secondary: var(--black-2);
  --text-alternate: var(--grey-3);
  --text-input: var(--grey-4);
  --text-modal: var(--grey-4);

  --border-primary: var(--black);
}

body {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
}

html[data-theme-dark] {
  --bg-primary: var(--black);
  --bg-preview: var(--grey-4);

  --text-primary: var(--white-2);
  --text-secondary: var(--grey-3);
  --text-input: var(--white-2);
  --text-modal: var(--white-2);

  --border-primary: var(--white-2);
}
