.footer {
  padding: 71px 0 136px;

  font-family: 'Inter', sans-serif;
  color: var(--black);

  background-color: var(--bg-primary);
}

.footer_transparent {
  background-color: transparent;
}

.footer__title {
  margin: 0;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
}

.footer__description {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.footer__text {
  margin: 0;

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: var(--grey-3);
}

.footer__text_upper {
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .footer {
    display: none;
  }
}
