.calendar {
  max-width: 18.75em;
  width: 100%;
  padding: 1.75em 2.25em;

  font-size: 16px;

  background-color: var(--bg-primary);
  border: 0.0625em solid var(--grey-3);
  border-radius: 0.5em;
}

.calendar_small {
  font-size: 8px;
}

.calendar__title {
  margin-bottom: 1.5m;

  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: center;
  color: var(--blue-3);
}

.calndar__wrapper {
  position: relative;
  padding-bottom: 100%;
}

.calendar__inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.calendar__item {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25em;
  color: var(--blue-3);
}

.calendar__item_day-of-week {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.25em;
  color: var(--grey-9);
}

.calendar__item_active {
  color: var(--white);

  background-color: var(--blue-2);
}

.calendar__item_between-active {
  background-color: var(--blue-4);
}
