.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: none;

  font-size: 16px;

  background-color: rgba(var(--bg-modal), 0.5);
}

.modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 26.75em;
  padding: 1.875em 2.5rem;

  background-color: var(--bg-primary);
  border-radius: 0.5em;
}

.modal__modal-close {
  position: absolute;
  right: 0.75em;
  top: 0.75em;

  min-width: fit-content;
  height: fit-content;
  padding: 0;

  border-radius: 0;
  border: none;
}

.modal__title {
  margin-bottom: 0.875em;

  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.5em;
  color: var(--grey-10);
}

.modal__content {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: var(--grey-4);
}

.modal__close-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.modal_small {
  position: absolute;
  display: block;

  font-size: 6px;
}
