.radio {
  position: relative;

  display: inline-block;
}

.radio__input {
  position: absolute;

  clip: rect(0, 0, 0, 0);

  outline: none;
}

.radio__state {
  display: flex;
  align-items: center;
  gap: 12px;

  cursor: pointer;
}

.radio__control {
  position: relative;

  box-sizing: border-box;
  width: 28px;
  height: 28px;

  background-color: var(--bg-primary);
  border: 1px solid var(--grey-2);
  border-radius: 50%;
}

.radio__dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  width: 18px;
  height: 18px;

  border-radius: 50%;

  background-color: var(--blue-2);
}

.radio__title {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-input);
}

.radio__input:disabled ~ .radio__state {
  cursor: not-allowed;
}

.radio__input:checked ~ .radio__state .radio__control {
  border: 2px solid var(--blue-2);
}

.radio__input:checked ~ .radio__state .radio__dot {
  display: block;
}

.radio__input:disabled ~ .radio__state .radio__control {
  background-color: var(--grey-2);
}

.radio__input:disabled ~ .radio__state .radio__title {
  color: var(--grey-2);
}

.radio__input:focus ~ .radio__state .radio__title {
  text-decoration: underline;
}
