.menu {
  font-family: 'Inter', sans-serif;
}

.menu__header {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--text-primary);
}

.menu__navigation {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menu__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--text-primary);

  text-decoration: none;
}

.menu__item_active {
  color: var(--red-2);
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
