.menu {
  font-family: 'Inter', sans-serif;

  @media screen and (max-width: 767px) {
    display: none;
  }

  &__header {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--text-primary);
  }

  &__navigation {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--text-primary);

    text-decoration: none;

    &_active {
      color: var(--red-2);
    }
  }
}
