.preview {
  padding: 68px 0 204px;

  background-color: var(--bg-preview);

  border-top: 1px solid var(--grey-2);
  border-bottom: 1px solid var(--grey-2);
}

.preview__row {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.preview__row:last-child {
  margin-bottom: 0;
}

.preview__card {
  flex: 0 1 350px;
  height: 367px;
}
